<div class="container">
  <h1>MEET THE NEW QUANT TEAM</h1>
  <div class="red-line"></div>
  <h2>Strategy and Business Development</h2>

  <div class="cards">

    <div class="card">
      <img src="/assets/tsolmondorj.jpg"/>
      <div class="links">
        <a class="easing" href="#">
          <i class="fa fa-envelope-o"></i>
        </a>

        <a class="easing" href="#">
          <i class="fa fa-linkedin"></i>
        </a>

        <a class="easing" href="#">
          <i class="fa fa-twitter"></i>
        </a>

        <a class="easing" href="#">
          <i class="fa fa-facebook"></i>
        </a>
      </div>
      <h3>Tsolmondorj Nakamoto</h3>
      <h4>Chief Strategy Officer</h4>
      <p>
        Tsoma is a developer, experienced cryptocurrency trader and an analyst of the emerging crypto-economics space. Tsoma is among the early investors in Bitcoin, starting in 2011. Tsoma founded a think tank which connects industries and governments to form “Startup Societies.” He is currently an advisor to Nonpariel Capital and developer for trive.news. Tsoma is passionate about introducing youth to the new emerging economic paradigms early on so that they can be the authors of their own financial future. With a dual CS &amp; ECON education, Tsoma is a fellow at www.futurescouts.co, Chief Cryptocurrency Officer at trive.news, developer at cultu.re, community Liaison Officer at http://nonparielcapital.com/, full stack Quest Chief Scientist at NewQuant, and the Chief Strategy Officer Prometheus Protocols.
      </p>
    </div>

    <div class="card">
      <img src="/assets/ganbat.png"/>
      <div class="links">
        <a class="easing" href="#">
          <i class="fa fa-envelope-o"></i>
        </a>

        <a class="easing" href="#">
          <i class="fa fa-linkedin"></i>
        </a>

        <a class="easing" href="#">
          <i class="fa fa-twitter"></i>
        </a>

        <a class="easing" href="#">
          <i class="fa fa-facebook"></i>
        </a>
      </div>
      <h3>Dr. Ganbat Atarsaikhan</h3>
      <h4>Head Mathmatican/Economist</h4>
      <p>
        Head Quant/Economist at the Central Bank of Mongolia. PhD in Mathematics (Dynamical Systems) Kyoto University, Japan. Publications: Reducibility of Steady State Bifurcations in Coupled Cell Systems (Journal of Mathematical Analysis and Applications) Prize: Silver Medal from 45th International Mathematical Olympiad. JSPS Doctoral Fellowship from Japan Society for Promotion of Science.
      </p>
    </div>

    <div class="card">
      <img src="/assets/tserendorj.jpg"/>
      <div class="links">
        <a class="easing" href="#">
          <i class="fa fa-envelope-o"></i>
        </a>

        <a class="easing" href="#">
          <i class="fa fa-linkedin"></i>
        </a>

        <a class="easing" href="#">
          <i class="fa fa-twitter"></i>
        </a>

        <a class="easing" href="#">
          <i class="fa fa-facebook"></i>
        </a>
      </div>
      <h3>Tserendorj Natsagdorj</h3>
      <h4>Institutional Trader &amp; Advisor</h4>
      <p>
        Tserendorj Natsagdorj is the institutional trading advisor that has prior experience leading projects in the oil sector.
      </p>
    </div>

  </div>

  <h2>Blockchain Formation</h2>

  <div class="cards">

    <div class="card">
      <img src="/assets/chris_lingle.jpg"/>
      <div class="links">
        <a class="easing" href="#">
          <i class="fa fa-envelope-o"></i>
        </a>

        <a class="easing" href="#">
          <i class="fa fa-linkedin"></i>
        </a>

        <a class="easing" href="#">
          <i class="fa fa-twitter"></i>
        </a>

        <a class="easing" href="#">
          <i class="fa fa-facebook"></i>
        </a>
      </div>
      <h3>Christopher Lingle</h3>
      <h4>Head Researcher</h4>
      <p>
        After earning a doctorate in economics from the University of Georgia in 1977, he has been employed at universities in Africa, Asia, Europe, Latin America & USA. He is a passionate supporter of human creativity & voluntary actions that lead to social harmony.To this end, he travels relentlessly to engage in discussions on the merits of institutions & public policy in terms of their impacts on human liberty & dignity.
Currently, he is Visiting Professor of Economics in the Escuela de Negocios at Universidad Francisco Marroquín in Guatemala (since 1998), Adjunct Scholar at the Centre for Independent Studies (Sydney), Research Scholar at the Centre for Civil Society (New Delhi), International Political Economic Advisor for the Asian Institute for Diplomacy and International Affairs (AIDIA – Kathmandu), Member of the Academic Advisory Council of the Globalization Institute (Brussels) & Senior Visiting Fellow, Advocata (Colombo, Sri Lanka).
      </p>
    </div>

    <div class="card">
      <img src="/assets/margad.jpg"/>
      <div class="links">
        <a class="easing" href="#">
          <i class="fa fa-envelope-o"></i>
        </a>

        <a class="easing" href="#">
          <i class="fa fa-linkedin"></i>
        </a>

        <a class="easing" href="#">
          <i class="fa fa-twitter"></i>
        </a>

        <a class="easing" href="#">
          <i class="fa fa-facebook"></i>
        </a>
      </div>
      <h3>Margad Batzorig</h3>
      <h4>CTO</h4>
      <p>
        Experienced Software Engineer with a demonstrated history of working in the computer software industry. Skilled in Research, SQL, Java, PHP, and C++. Strong engineering professional with a Bachelor's Degree focused in Computer Science from School of Applied Sciences and Engineering, National University of Mongolia.
      </p>
    </div>

    <div class="card">
      <img src="/assets/duncan.png"/>
      <div class="links">
        <a class="easing" href="#">
          <i class="fa fa-envelope-o"></i>
        </a>

        <a class="easing" href="#">
          <i class="fa fa-linkedin"></i>
        </a>

        <a class="easing" href="#">
          <i class="fa fa-twitter"></i>
        </a>

        <a class="easing" href="#">
          <i class="fa fa-facebook"></i>
        </a>
      </div>
      <h3>Duncan Lemp</h3>
      <h4>Cryptography Software Architect</h4>
      <p>
        Duncan Lemp is the Cryptographic architect for New Quant. Cryptographic Advisor at 1WayFx. http://1wayfx.com
      </p>
    </div>

  </div>

  <h2>Development Team</h2>

  <div class="cards">

    <div class="card">
      <img src="/assets/roshan.jpg"/>
      <div class="links">
        <a class="easing" href="#">
          <i class="fa fa-envelope-o"></i>
        </a>

        <a class="easing" href="#">
          <i class="fa fa-linkedin"></i>
        </a>

        <a class="easing" href="#">
          <i class="fa fa-twitter"></i>
        </a>

        <a class="easing" href="#">
          <i class="fa fa-facebook"></i>
        </a>
      </div>
      <h3>Roshan Mirajkar</h3>
      <h4>Front End Developer</h4>
      <p>
        Roshan Mirajkar is a front end engineer at New Quant, building websites and constructing front end designs for decentralized applications. Roshan is attending George Mason University studying Computer Science.
      </p>
    </div>

    <div class="card">
      <img src="/assets/dulguun.png"/>
      <div class="links">
        <a class="easing" href="#">
          <i class="fa fa-envelope-o"></i>
        </a>

        <a class="easing" href="#">
          <i class="fa fa-linkedin"></i>
        </a>

        <a class="easing" href="#">
          <i class="fa fa-twitter"></i>
        </a>

        <a class="easing" href="#">
          <i class="fa fa-facebook"></i>
        </a>
      </div>
      <h3>Dulguun Batmunkh</h3>
      <h4>Backend Developer</h4>
      <p>
        Dugunn has hands-on experience of building distributed services in the AWS cloud and developing embedded real-time image processing applications on TV. Division One competitive programming contestant on hackerrank, topcoder and codeforces.
    </div>

    <div class="card">
      <img src="/assets/matt.png"/>
      <div class="links">
        <a class="easing" href="#">
          <i class="fa fa-envelope-o"></i>
        </a>

        <a class="easing" href="#">
          <i class="fa fa-linkedin"></i>
        </a>

        <a class="easing" href="#">
          <i class="fa fa-twitter"></i>
        </a>

        <a class="easing" href="#">
          <i class="fa fa-facebook"></i>
        </a>
      </div>
      <h3>Matt Nakatani</h3>
      <h4>Operations Manager</h4>
      <p>
        Matt is a Python Developer and Blockchain Ethusiast that specializes in linux, python, VBA, cryptocurrencies, networks, systems architecture, unusual hardware systems.
      </p>
    </div>

    <div class="card">
      <img src="/assets/chris_cates.jpg"/>
      <div class="links">
        <a class="easing" href="#">
          <i class="fa fa-envelope-o"></i>
        </a>

        <a class="easing" href="#">
          <i class="fa fa-linkedin"></i>
        </a>

        <a class="easing" href="#">
          <i class="fa fa-twitter"></i>
        </a>

        <a class="easing" href="#">
          <i class="fa fa-facebook"></i>
        </a>
      </div>
      <h3>Chris Cates</h3>
      <h4>Product Manager</h4>
      <p>
        Chris Cates is an experienced full stack developer who has worked for MerchAdvisor, Skrumble,
        Pilot Interactive and LeadLogica. Chris Cates has built blockchain solutions from scratch
        and is a big fan of Kademlia Distributed Hash Tables.
      </p>
    </div>

  </div>

</div>
