<div class="container">
  <h1>News</h1>

  <div class="item">
    <h2>Tsoma speaks at Georgetown University</h2>
    <h3>November 10th, 2017</h3>
    <p>Tsolmondorj hosted a discussion at Georgetown Law University discussing Blockchain and how to get involved.</p>
    <div class="link">
      <a class="easing" target="_blank" href="https://www.linkedin.com/search/results/people/?facetConnectionOf=%5B%22ACoAABCuE3cB1nuWe8unGOHlOldqW48EacQFOvE%22%5D&facetNetwork=%5B%22F%22%5D&origin=MEMBER_PROFILE_CANNED_SEARCH">Check it out!</a>
    </div>
  </div>

  <div class="item">
    <h2>New Quant, New Year Hackathon</h2>
    <h3>December 31st, 2017</h3>
    <p>Prometheus Protocols will be hosting a hackathon soon. All those that are interested please sign up.</p>
    <div class="link">
      <a class="easing" target="_blank" href="https://www.startupsocieties.com">Check it out!</a>
    </div>
  </div>

</div>
